.cards {
  display: flex;
  justify-content: space-between;
  .card {
    .card-item {
      width: 270px;
      height: 209px;
      background-color: $searchbar-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .Discount {
        position: absolute;
        left: 12px;
        top: 12px;
      }

      .remove {
        position: absolute;
        right: 12px;
        top: 12px;
      }
    }

    button {
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 270px;
      background-color: $black;
      color: $gray-text;
      padding: 8px 0 9px 0;
      border-radius: 0 0 4px 4px;

      &:hover {
        cursor: pointer;
      }
    }

    h4 {
      margin: 16px 0 8px 0;
      color: $black;
      font-size: 16px;
      font-weight: 500;
    }

    .price {
      display: flex;
      gap: 12px;

      p {
        color: $price-red;
      }

      span {
        color: $black;
        opacity: 50%;
        text-decoration-line: line-through;
      }
    }

    .review {
      margin-top: 8px;
      margin-left: -5px;
    }
  }
}
